*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rakeTasks
.vagrant
.lock
Gemfile.lock
spec/fixtures/application/htdocs/typo3_src
spec/fixtures/application/htdocs/typo3conf/ext
spec/fixtures/application/htdocs/index.php
spec/fixtures/application/htdocs/typo3
spec/fixtures/application/htdocs/bin


